/* ----- FONT Link ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+BE+VLG:wght@100..400&display=swap');

@font-face{
    font-family: HeadFont;
    src: url('./font/batman_forever/batmfa__.ttf');
}
@font-face{
    font-family: FirstFont;
    src: url('./font/conthrax/conthrax-sb.otf');
}
@font-face {
    font-family: NameFont;
    src: url('./font/transformers_movie/Transformers\ Movie.ttf');
}
@font-face {
    font-family: SecondFont;
    src: url('./font/cgf_locust_resistance/CGF\ Locust\ Resistance.ttf');
}

/* ----- VARIABLES ----- */
:root{
    --color-white: #fff;
    

    --text-color-second: white;
    --text-color-third: #cf197d;

    --first-color: #157cb8;
    --first-color-hover: #cf197d ;

    --second-color: #06a59a;
    --third-color: linear-gradient(90deg, rgba(15,23,163,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    --first-shadow-color: rgba(0, 0, 0, 0.1);

}

/* ----- BASE ----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: FirstFont;
    z-index: 2;
}


/* ----- SMOOTH SCROLL ----- */
html{
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(to right top, #051d49, #082657,
     #0a3064, #0b3a73, #0a4581, #24498c, #394d97,
     #4d50a1, #734aa3, #963f9d, #b52f90, #cf197d);
}
/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: #bbb;
}


/* ---##-- REUSABLE CSS --##--- */


#trailer{
    height: 20px;
    width:20px;
    background-color: #39aedb;
    border-radius: 20px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    pointer-events: none;
    opacity: 0px;
    transition: opacity 500ms ease;
}
body:hover > #trailer{
    opacity: 1;
}

#progress{
    position: fixed;
    z-index: 1000;
    bottom: 60px;
    right: 10px;
    width: 50px;
    height: 50px;
    display: none;
    place-items: center;
    border-radius: 50%;
    background-color: #14cdb4;
    cursor: pointer;
    border-color: #46facd;
}


#progress-value{
    display: grid;
    height: calc(100% - 12px);
    width: calc(100% - 12px);
    background: #0cd9a9;
    border-radius: 50%;
    color: #fff;
    place-items: center;
    font-size: 25px;
}

#progress-value img{
    transform: rotate(269deg);
    height: 40px;
    width: 30px;
}



/* ----- GLOBAL BUTTON DESIGN ----- */
.btn-a{
    text-decoration: none;
    color: black;
}
.btn-a2{
    text-decoration: none;
    color: white;
}

#insta {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-size: 30px; /* change this to change the size*/
    
  }
.btn{
    font-size: 10px;
    font-weight: 500;
    padding: 10px 11px 10px 11px;
    background: #46facd;
  background: linear-gradient(
    to right,
    #00bf8f,#0cd9a9
  );
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;

    }
    
.btn>i,.button>i{
    margin-left: 5px;
}
.btn:hover{
    background: var(--second-color);
    color: var(--color-white);
}

.button {
    background: linear-gradient(-45deg, #e81cff 0%, #157cb8 100% );
    color: white;
  }
  
  .button::before {
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #157cb8 100% );
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(4, 83, 149, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  
  .button:hover::before {
    transform: rotate(-180deg);
  }
  
  .button:active::before {
    scale: 0.7;
  }



/* ----- GLOBAL ICONS DESIGN ----- */
i{
    font-size: 16px;
}

/* ------- BASE -------- */
.container{
    width: 100%;
    position: relative;
    height: 50%;
      /* IF ANYONE WANT TO CHANGE BACKGROUND IMAGE YOU GUYS CAN FIRST SAVE IT IN 
      IMAGE FOLDER AND THEN PASTE THE IMAGE PATH HERE */
    background-image: url('../images/46da00ee238c74f8870175f80bc3f782.jpg');
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 100;

}


/* ---- particles.js container ---- */
#particle{ 
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}


/* ----- NAVIGATION BAR ----- */
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 90px;
    background: var(--body-color);
    padding-inline: 9vw;
    transition: .3s;
    z-index: 100;
}
.nav-logo{
   position: relative;
}
.nav-name{
    font-size: 3rem;
    font-weight: 400;
    color: var(--text-color-third);
    font-family: "Dancing Script", cursive;
    font-style: normal;
}
.nav-logo span{
    position: absolute;
    top: -15px;
    right: -20px;
    font-size: 5em;
    color: var(--text-color-second);
}
.nav-menu, .nav_menu_list{
    display: flex;
    /* box-shadow: 6px 4px 0px 0px; */
}
.nav-menu .nav_list{
    list-style: none;
    position: relative;
}
.nav-link{
    text-decoration: none;
    color: var(--text-color-third);
    font-weight: 500;
    padding-inline: 2px;
    margin-inline: 14px;
}
.nav-menu-btn{
    display: none;
}
.nav-menu-btn i{
    font-size: 24px;
    cursor: pointer;
}
.active-link{
    position: relative;
    color: var(--first-color);
    transition: .3;
}

.nav_list:hover{
    transform: scale(1.15);
}
.active-link::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background: var(--first-color);
    border-radius: 50%;
}

nav .neon {
    background: var(--text-color-third);
}


 
/* ----- WRAPPER DESIGN ----- */
.wrapper{
    padding-inline: 10vw;
}

/* ----- FEATURED BOX ----- */
.featured-box{
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 600px;
}

/* ----- FEATURED TEXT BOX ----- */
.featured-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
}
.featured-text-card span{
    font-family: HeadFont;
    background: var(--third-color);
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    padding: 6px;
}
.featured-name{
    font-size: 30px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-block: 20px;
}
.typedText{
    font-family: SecondFont;
    text-transform: capitalize;
    color: var(--text-color-third);
	font-size: 2rem;
}
.featured-text-info{
    font-size: 15px;
    margin-bottom: 30px;
    color: var(--text-color-second);
}
.featured-text-btn{
    display: flex;
    gap: 20px;
}
.featured-text-btn>.blue-btn{
    background: var(--first-color);
    color: var(--text-color-second);
}
.featured-text-btn>.blue-btn:hover{
    background: var(--first-color-hover);
    color: var(--first-color);
}
.social_icons{
    display: flex;
    margin-top: 3em;
    gap: 30px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    background-color: #cf197d;
}
.icon:hover{
    background-color: #11234c;
    color: var(--first-color);
}

/* ----- FEATURED IMAGE BOX ----- */
.featured-image{
    display: flex;
    justify-content: right;
    align-content: center;
    min-height: 80vh;
    width: 50%;
}
.image{
    margin: auto 0;
    width: 380px;
    height: 450px;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    animation: imgFloat 7s ease-in-out infinite;
}
.image img{
    width: 380px;
    height: 440px;
    object-fit: cover;
    /* opacity: 0; */
}
@keyframes imgFloat {
    50%{
        transform: translateY(10px);
        border-radius: 45% 55% 45% 55%;
    }
}
.scroll-btn{
   position: absolute;
   bottom: 0;
   left: 50%;
   translate: -50%;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 150px;
   height: 50px;
   gap: 5px;
   text-decoration: none;
   color: var(--text-color-second);
   border-radius: 30px;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
   padding: 10px 20px 10px 20px;
   font-size: 14px;
}
.scroll-btn i{
    font-size: 20px;
}

/* ----- MAIN BOX ----- */
.section{
    padding-block: 5em;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}
.col{
    display: flex;
    width: 50%;
    padding-inline: 2vw;
}

/* -- ## --- RESUABLE CSS -- ## -- */
.top-header{
    text-align: center;
    margin-bottom: 5em;
}
.top-header h1{
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 10px;
}
.top-header span{
    color: #999;
}
h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color-third);
    margin-bottom: 15px;
}

/* ----- ABOUT INFO ----- */

.about-info{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 30px 70px;
    padding-inline: 20px;
    width: 100%;
    background: var(--first-color);
    box-shadow: 1px 8px 10px 2px var(--color-white);
    border-radius: 20px;
}
.about-info p{
    text-align: center;
    font-size: 15px;
    color: #f1f1f1;
}
.about-info p span{
    color: var(--text-color-third);
}
.about-btn .button{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: var(#d6249f);
    color: var(--color-white);
    border-radius: 30px;
}
.about-btn .button:hover{
    background: var(--first-color);
    color: var(--text-color-second);
}

/* ----- ABOUT / SKILLS BOX ----- */
.skills-box{
    margin: 10px;
}
.skills-header{
    margin-bottom: 30px;
}
.skills-list{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.skills-list span{
    font-size: 14px;
    background: var(--first-color);
    color: var(--text-color-second);
    padding: 2px 10px;
    border-radius: 5px;
}

/* ----- PROJECTS BOX ----- */
.project-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding-inline: 3vw;
}

.card {
    position: relative;
    width: 230px;
    height: 290px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 240px;
    height: 300px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .card-content {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
  }
  
  .card .card-content:not(.card-content) {
    font-size: 14px;
  }
  
  .card .card-content:last-child {
    color: #e81cff;
    font-weight: 600;
  }
  
  .card:hover::after {
    filter: blur(30px);
  }
  
  .card:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
  }

  .card>i{
    font-size: 50px;
}

.contact-info::after{
    content: "";
    position: absolute;
    bottom: -100%;
    background: var(--second-color);
    width: 100%;
    height: 100%;
    transition: .4s;
    z-index: 1;
}
.contact-info:hover.contact-info::after{
    bottom: 0;
}


/* ----- CONTACT BOX ----- */
.contact-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
    height: 315px;
    background: var(--first-color-hover);
    border-radius: 10px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
    padding-inline: 6vw;
}
.contact-info>h2{
    color: var(--color-white);
    margin-bottom: 20px;
}
.contact-info>p{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-white);
    margin-block: 5px;
}
.contact-info p>i{
    font-size: 18px;
}
.contact-info::after{
    background: var(--color-white);
}
.contact-info:hover.contact-info h2,
.contact-info:hover.contact-info p,
.contact-info:hover.contact-info i{
    color: var(--first-color);
    z-index: 2;
}

/* ----- CONTACT FORM ----- */
.form-control{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.form-inputs{
    display: flex;
    gap: 7px;
    width: 100%;
}
.input-field{
    outline: none;
    color: white;
    background-color: #010201;
    padding:7px;
    width: 280px;
    height: 56px;
    border-radius: 10px;
    padding-inline: 20px;
    font-size: 12px;
    border: none;
}
input::placeholder, textarea::placeholder{
    color: #c0b9c0;
}
.Message{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    padding: 15px 20px;
    resize: none;
    outline: none;
    color: white;
    background-color: #010201;
    border: none;
}
.form-button>.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--second-color);
    color: var(--color-white);
}
.form-button>.btn:hover{
    background: #00B5E7;
}
.form-button i{
    font-size: 18px;
    rotate: -45deg;
}

  .white,
  .border,
  .darkBorderBg,
  .glow {
    max-height: 70px;
    max-width: 300px;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    /* Border Radius */
    border-radius: 12px;
    filter: blur(3px);
  }
  #poda {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .input-field::placeholder, .Message::placeholder {
    color: #c0b9c0;
  }
  
  .input-field:focus, .Message::placeholder {
    outline: none;
  }
  
  #main:focus-within > #input-mask {
    display: none;
  }
  
  #input-mask {
    pointer-events: none;
    width: 100px;
    height: 20px;
    position: absolute;
    top: 18px;
    left: 70px;
  }
  #pink-mask {
    pointer-events: none;
    width: 30px;
    height: 20px;
    position: absolute;
    background: #cf30aa;
    top: 10px;
    left: 5px;
    filter: blur(20px);
    opacity: 0.8;
    animation:leftright 4s ease-in infinite;
    transition: all 2s;
  }
  #main:hover > #pink-mask {
    animation: rotate 4s linear infinite;
    opacity: 0;
  }
  
  .white {
    max-height: 63px;
    max-width: 300px;
    border-radius: 10px;
    filter: blur(2px);
  }
  
  .white::before {
    content: "";
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(83deg);
    position: absolute;
    width: 220px;
    height: 220px;
    background-repeat: no-repeat;
    background-position: 0 0;
    filter: brightness(1.4);
    background-image: conic-gradient(
      rgba(0, 0, 0, 0) 0%,
      #a099d8,
      rgba(0, 0, 0, 0) 8%,
      rgba(0, 0, 0, 0) 50%,
      #dfa2da,
      rgba(0, 0, 0, 0) 58%
    );
    animation: rotate 4s linear infinite;
    transition: all 2s;
  }
  .border {
    max-height: 59px;
    max-width: 303px;
    border-radius: 11px;
    filter: blur(0.5px);
  }
  .border::before {
    content: "";
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(70deg);
    position: absolute;
    width: 220px;
    height: 220px;
    filter: brightness(1.3);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(
      #1c191c,
      #402fb5 5%,
      #1c191c 14%,
      #1c191c 50%,
      #cf30aa 60%,
      #1c191c 64%
    );
    animation: rotate 4s 0.1s linear infinite;
    transition: all 2s;
  }
  .darkBorderBg {
    max-height: 65px;
    max-width: 300px;
  }
  .darkBorderBg::before {
    content: "";
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(82deg);
    position: absolute;
    width: 220px;
    height: 220px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(
      rgba(0, 0, 0, 0),
      #18116a,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0) 50%,
      #6e1b60,
      rgba(0, 0, 0, 0) 60%
    );
    transition: all 2s;
  }
  #poda:hover > .darkBorderBg::before {
    transform: translate(-50%, -50%) rotate(262deg);
  }
  #poda:hover > .glow::before {
    transform: translate(-50%, -50%) rotate(240deg);
  }
  #poda:hover > .white::before {
    transform: translate(-50%, -50%) rotate(263deg);
  }
  #poda:hover > .border::before {
    transform: translate(-50%, -50%) rotate(250deg);
  }
  
  #poda:hover > .darkBorderBg::before {
    transform: translate(-50%, -50%) rotate(-98deg);
  }
  #poda:hover > .glow::before {
    transform: translate(-50%, -50%) rotate(-120deg);
  }
  #poda:hover > .white::before {
    transform: translate(-50%, -50%) rotate(-97deg);
  }
  #poda:hover > .border::before {
    transform: translate(-50%, -50%) rotate(-110deg);
  }
  
  #poda:focus-within > .darkBorderBg::before {
    transform: translate(-50%, -50%) rotate(442deg);
    transition: all 4s;
  }
  #poda:focus-within > .glow::before {
    transform: translate(-50%, -50%) rotate(420deg);
    transition: all 4s;
  }
  #poda:focus-within > .white::before {
    transform: translate(-50%, -50%) rotate(443deg);
    transition: all 4s;
  }
  #poda:focus-within > .border::before {
    transform: translate(-50%, -50%) rotate(430deg);
    transition: all 4s;
  }
  
  .glow {
    overflow: hidden;
    filter: blur(30px);
    opacity: 0.4;
    max-height: 130px;
    max-width: 300px;
  }
  .glow:before {
    content: "";
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(60deg);
    position: absolute;
    width: 220px;
    height: 220px;
    background-repeat: no-repeat;
    background-position: 0 0;

    animation: rotate 4s 0.3s linear infinite;
    transition: all 2s;
  }
  
  @keyframes rotate {
    100% {
      transform: translate(-50%, -50%) rotate(450deg);
    }
  }
  @keyframes leftright {
    0% {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  
    49% {
      transform: translate(250px, 0px);
      opacity: 0;
    }
    80% {
      transform: translate(-40px, 0px);
      opacity: 0;
    }
  
    100% {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }
  
  #main {
    position: relative;
  }
  

/* ----- FOOTER BOX ----- */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    padding-block: 40px 60px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.627),rgba(0, 0, 0, 0.5)) , url('../images/bg-3.jpg');
    background-repeat: no-repeat;
    filter: 50%;
    background-size: cover;
    opacity: 0.8;
}
.top-footer p{
    font-size: 25px;
    font-weight: 600;
    font-family: HeadFont;
    color: var(--text-color-third);
}
.middle-footer .footer-menu{
    display: flex;
}
.footer_menu_list{
    list-style: none;
}
.footer_menu_list a{
    text-decoration: none;
    color: var(--color-white);
    font-weight: 500;
    margin-inline: 20px;
}
.footer-social-icons{
    display: flex;
    gap: 30px;   
}
.bottom-footer{
    font-size: 14px;
    margin-top: 10px;
}


/* ----- MEDIA QUERY == 1024px / RESPONSIVE ----- */
@media only screen and (max-width: 1024px){
    #progress{
        opacity: 0;
    }

    .featured-text{
        padding: 0;
    }
    .featured-name p {
        font-size: 20px;
    }
    .typedText{
        font-size: 30px;
    }
    .image, .image img{
        width: 320px;
        height: 320px;
    }
    #trailer{
        opacity: 0;
    }
}

/* ----- MEDIA QUERY == 900px / RESPONSIVE ----- */
@media only screen and (max-width: 900px) {
    .nav-button{
        display: none;
    }
    .nav-menu.responsive{
        left: 0;
    }
    .nav-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--first-color);
        backdrop-filter: blur(20px);
        width: 100%;
        min-height: 450px;
        position: fixed;
        top: 80px;
        left: -100%;
        height: 90vh;
        transition: .3s;
    }
    .nav_menu_list{
        flex-direction: column;
    }
    .nav-menu ul li a{
        color: var(--text-color-third);
    }
    .nav-menu-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container{
        width: 100%;
        position: relative;
        height: 100%;
        background-image: url('../images/bg-1\(max-width\ =\ 800\).jpg');
        background-repeat: no-repeat;
        overflow: hidden;
        z-index: 100;
        /* background-attachment: fixed; */
    }
    .featured-box{
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }
    .featured-text{
        width: 100%;
        order: 2;
        justify-content: center;
        align-content: flex-start;
        min-height: 60vh;
    }
    .social_icons{
        margin-top: 2em;
    }
    .featured-image{
        order: 1;
        justify-content: center;
        min-height: 150px;
        width: 100%;
        margin-top: 65px;
    }
    .image, .image img{
        width: 150px;
        height: 150px;
    }
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
    .col{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .about-info, .contact-info{
        width: 100%;
    }
    .project-container{
        justify-content: center;
    }
    .project-box{
        width: 80%;
    }
}

/* ----- MEDIA QUERY == 540px / RESPONSIVE ----- */

@media only screen and (max-width: 640px){
    .container{
        position: relative;
        background-image: url('../images/bg-2.jpg');
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
        overflow: hidden;
        z-index: 100;
    }
    .btn{
        padding: 3px 3px;
        font-size: 9px;
        text-transform: uppercase;
        font-weight: 600;
    }
    .btn>i{
        font-size: 10px;
    }
    .featured-name{
        font-size: 40px;
    }
    .project-box{
        width: 100%;
    }
    .form-inputs{
        flex-direction: column;
    }
    .input-field{
        width: 100%;
    }
    .featured-text{
        padding: 0;
    }
    .featured-name p {
        font-size: 15px;
    }
    .typedText{
        font-size: 20px;
    }
    .skills-header h3{
        font-size: 10px;
    }
    .skills-list span{
        font-size: 7px;
    }
    .contact-info p{
        font-size: 9px;
    }
    .footer-menu{
        font-size: 8px;
    }
    .bottom-footer{
        font-size: 8px;
    }
    .top-footer p{
        font-size: 15px;
    }
    .icon{
        width: 40px;
        height: 40px;
    }

}
